/* Login and signup forms */

.account-form button {
    width: 4rem;
    margin-left: 80px;
}

#signup-form button {
    width: 8rem;
}

#add-story-form button {
    width: 6rem;
    margin-left: 80px;
}

.account-forms-container {
    padding-left: 20px;
}